{% extends "base.html" %}
{% load bootstrap4 %}
{% block head %}
Orden Finalizada
{% endblock %}
{% block content_head %}
<!--Titulo-->
<div class="row round-borderform mt-5">
    <div class="col-12">
        <p>Orden Finalizada</p>
    </div>
</div>

{% endblock %}
{% block body %}
<h1>Orden Finalizada</h1>
{% endblock %}
{% block footer %}
<script>
    setTimeout(function () {
        window.location.href = "{% url 'orders:home' %}";
    }, 3000);
</script>
{% endblock %}