{% extends "base.html" %}
{% load bootstrap4 %}
{% block head %}
Crear nota de venta
{% endblock %}
{% block content_head %}
<!--Titulo-->
<div class="row round-borderform mt-5">
    <div class="col-12">
        <h2 class="mb-4"><strong>Agregar nota de venta</strong></h2>
        <!--Fin titulo-->
        {% endblock %}
        {% block body %}
        <!--Formulario-->
        {% bootstrap_messages %}
        <form action="{% url 'orders:create'%}" method="POST" id="orderForm" data-cities-url="{% url 'orders:ajax_load_cities' %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <div class="mb-3 w-60 buttonLoginForm">
                <button class="btn btn-lg btn-block btn-dark form-control mt-3" type="submit">Crear boleta</button>
            </div>
            {% endbuttons %}
        </form>
        <!--Fin formulario-->
    </div>
</div>
{% endblock %}
{% block footer %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


<script>
  $(document).ready(function () 
  {
      $('#id_client').select2({
          ajax: {
              url: "{% url 'orders:create'%}",
              dataType: 'json',
              processResults: function (data) {
                  return {
                      results: $.map(data, function (item) {
                          return {id: item.id, text: item.name};
                      })
                  };
              }
          },
          minimumInputLength: 1,
          formatInputTooShort: "Please add more text",
      });
  });
</script>
<script>
    $("#id_client").change(function () {
        const url = $("#orderForm").attr("data-cities-url");  // get the url of the `load_cities` view
        const clientId = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'client_id': clientId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                console.log(data);
                //$("#id_sucursal").html(data);  // replace the contents of the city input with the data that came from the server


                let html_data = '<option value="">---------</option>';
                data.forEach(function (sucursal) {
                    html_data += `<option value="${sucursal.id}">${sucursal.name}</option>`
                });
                console.log(html_data);
                $("#id_sucursal").html(html_data);

            }
        });

    });
</script>
{% endblock %}
<!--{% bootstrap_form detailform %}-->