{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block head %}
Crear nota de venta
{% endblock %}
{% block content_head %}
<!--Titulo-->
<div class="row round-borderform mt-5">
    <div class="col-12">
        <h2 class="mb-4"><strong>Agregar boleta</strong></h2>
        <!--Fin titulo-->
        {% endblock %}
        {% block body %}
        <p style="margin-top: 20px;">Estás realizando una nota de venta para {{sale.client}} en la sucursal {{sale.sucursal}}</p>
        {% if details %}
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Producto</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
              </tr>
            </thead>
            <tbody>
            {% for detail in details %}
              <tr>
                <td>{{detail.product}}</td>
                <td>{{detail.quantity}}</td>
                <td><a href="{% url 'orders:update-detail' detail.id %}">Editar</a></td>
                <td><a href="{% url 'orders:delete-detail' detail.id %}">Eliminar</a></td>
              </tr>
            {% endfor %}
            </tbody>  
          </table>
        {% endif %}
        <!--Formulario-->
        {% bootstrap_messages %}
        <form action="{% url 'orders:create-detail' sale.id%}" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <div class="mb-3 w-60 buttonLoginForm">
              <button class="btn btn-lg btn-block btn-dark form-control mt-3" type="submit">Agregar Detalle</button>
            </div>
            {% endbuttons %}
          </form>
        {% if sale %}
        <div class="mb-3 w-60 buttonLoginForm">
<<<<<<< Updated upstream
          <a class="btn btn-lg btn-block btn-dark form-control mt-3" href="{% url 'orders:send-email' sale.id %}">Finalizar Nota de venta</a>
=======
          <a class="btn btn-lg btn-block btn-dark form-control mt-3" href="{% url 'orders:send-email' sale.id %}">Enviar orden de venta</a>
>>>>>>> Stashed changes
        </div>  
        {% else %}
        <p>nollega</p>
        {% endif %}
        <!--<form action="{% url 'orders:send-email' sale.id %}" method='GET'>
          <div class="mb-3 w-60 buttonLoginForm">
            <button class="btn btn-lg btn-block btn-dark form-control mt-3" type="">Finalizar Orden</button>
          </div>
        </form>   -->    
        <!--Fin formulario-->
    </div>
</div>
{% endblock %}
{% block footer %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


<script>
  $(document).ready(function () {
      $('#id_product').select2({
          ajax: {
              url: "{% url 'orders:create-detail' sale.pk %}",
              dataType: 'json',
              processResults: function (data) {
                  return {
                      results: $.map(data, function (item) {
                          return {id: item.id, text: item.name};
                      })
                  };
              }
          },
          minimumInputLength: 1
      });
  });
</script>
{% endblock %}