{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}
Eliminar detalle
{% endblock %}
{% block body %}
<div class="row mt-5">
    <div class="col-12">
        <!--Titulo-->
        <div class="alert alert-danger mb-4" role="alert">
            ¿Estás seguro de eliminar <strong>{{detail.product}}</strong>?
        </div>
        <!--Fin titulo-->
        <!--Formulario-->
        <form class="" method="POST">
            {% csrf_token %}
            {% buttons %}
            <a href="{% url 'orders:delete-detail' detail.id %}" class="btn btn-light">Cancelar</a>
            <button type="submit" class="btn btn-danger">
                <i class="fas fa-trash-alt"></i>
                Eliminar
            </button>
            {% endbuttons %}
        </form>
        <!--Fin formulario-->
    </div>
</div>
{% endblock %}