<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p></p>
    {% if details %}
    <table>
        <thead">
          <tr>
            <th scope="col" style="border-right: 1px solid #000000;">Producto</th>
            <th scope="col">Cantidad</th>
          </tr>
        </thead>
        <tbody>
        {% for detail in details %}
          <tr style="border: 1px solid #000000;">
            <td>{{detail.product}}</td>
            <td>{{detail.quantity}}</td>
          </tr>
        {% endfor %}
        </tbody>  
      </table>
    {% endif %}
</body>
</html>