{% extends 'base.html' %}
{% load bootstrap4 %}
{% block head %}
Home
{% endblock %}
{% block body %}
<div class="row h-100">
    <div class="col-12 centerButton">
        <div class="d-grid gap-2">
            <a class="btn btn-dark" href="{% url 'orders:create' %}" role="button">Nueva nota de venta</a>
            <a class="btn btn-dark" href="{% url 'orders:list-orders' %}" role="button">Editar nota de venta</a>
            <a class="btn btn-dark" href="{% url 'orders:export-csv' %}" role="button">Exportar Csv</a>
            <!--<a class="btn btn-dark" href="{% url 'orders:export-pdf' %}" role="button">Exportar Pdf</a>-->
          </div>
    </div>
</div>

{% endblock %}