{% extends "base.html" %}
{% load bootstrap4 %}
{% block head %}
Editar nota de venta
{% endblock %}
{% block content_head %}
<!--Titulo-->
<div class="row round-borderform mt-5">
    <div class="col-12">
        <h2 class="mb-4"><strong>Editar nota</strong></h2>
        <!--Fin titulo-->
        {% endblock %}
        {% block body %}
        <p style="margin-top: 20px;">Estás editando la nota de venta para {{client}} en la sucursal {{ sucursal}}</p>
        {% if details %}
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Producto</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
              </tr>
            </thead>
            <tbody>
            {% for detail in details %}
              <tr>
                <td>{{detail.product}}</td>
                <td>{{detail.quantity}}</td>
                <td><a href="{% url 'orders:update-detail' detail.id %}">Editar</a></td>
                <td><a href="{% url 'orders:delete-detail' detail.id %}">Eliminar</a></td>
              </tr>
            {% endfor %}
            </tbody>  
          </table>
        {% endif %}
    </div>
</div>
{% endblock %}