{% extends "base.html" %}
{% load bootstrap4 %}
{% block head %}
Notas de venta
{% endblock %}
{% block content_head %}
<!--Titulo-->
<div class="row round-borderform mt-5">
    <div class="col-12">
        <h2 class="mb-4"><strong>Notas de venta</strong></h2>
        <!--Fin titulo-->
        {% endblock %}
        {% block body %}
        {% if orders %}
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Fecha</th>
                <th scope="col">Cliente</th>
                <th scope="col">Sucursal</th>
                <th scope="col">Editar</th>
                <th scope="col">Editar Detalle</th>
              </tr>
            </thead>
            <tbody>
            {% for order in orders %}
              <tr>
                <td>{{order.id}}</td>
                <td>{{order.date}}</td>
                <td>{{order.client}}</td>
                <td>{{order.sucursal}}</td>
                <td><a href="{% url 'orders:update-order' order.id %}"><button type="button" class="btn btn-primary"><i class="fas fa-edit"></i></button></a></td>
                <td><a href="{% url 'orders:list-detail' order.id %}"><button type="button" class="btn btn-danger"><i class="fas fa-edit"></i></i></button></a></td>
              </tr>
            {% endfor %}
            </tbody>  
          </table>
        {% endif %}
    </div>
</div>
{% endblock %}