{% extends "base.html" %}
{% load bootstrap4 %}
{% block head %}
Editar nota de venta
{% endblock %}
{% block body %}
<!--Titulo-->
<div class="row mt-5">
    <div class="col">
        <h2 class="mb-4"><strong>Editar nota de venta </strong></h2>
        <!--Fin titulo-->
        <!--Formulario -->
        {% bootstrap_messages %}
        <form class="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <div class="mb-3 w-60 buttonLoginForm">
                <button class="btn btn-lg btn-block btn-dark form-control mt-3" type="submit">Actualizar</button>
            </div>
            {% endbuttons %}
        </form>
        <!--Fin formulario-->
    </div>
</div>
{% endblock %}