h1{
    color:black;
}

body,html{
    height:100%;
}

.loginForm{
    padding-right: 10px;
    padding-left: 5px;
}

.buttonLoginForm{
    padding-right: 20px;
    padding-left: 20px;
}

::placeholder{
    font-size: 14px;
}

button > a{
    color: white;
    text-decoration: none;
}

.centerButton{
    margin-top: 12rem !important;
}

div.form-group:nth-child(2) > label:nth-child(1),div.form-group:nth-child(3) > label:nth-child(1) {
    margin-top: 1rem !important;
    margin-bottom: 0.4rem !important;
}

