{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block head %}
Login
{% endblock %}
{% block body %}
<div class="row h-100">
    <div class="col-12 mx-auto my-auto">
        <form class="form-signin" method="POST">
            {% csrf_token %}
            <div class="text-center mb-4">
                <h1>Ingreso de usuarios</h1>
                {% if messages %}
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="w-100 mb-3 loginForm">
                <label class="mb-2" for="username">Nombre de usuario</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Nombre de usuario" required
                    autofocus>
            </div>

            <div class="w-100 mb-3 loginForm">
                <label class="mb-2" for="password">Contraseña</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña"
                    required>
            </div>
            <div class="mb-3 w-60 buttonLoginForm">
                <button class="btn btn-lg btn-block btn-dark form-control mt-3" type="submit">Entrar</button>
            </div>
            <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2019</p>
            <!--<div class="checkbox mb-3 w-50 mx-auto mb-1">
                <label>
                    <input type="checkbox" value="remember-me"> Recuérdame
                </label>
                
            </div>-->
            <!--<span><a href="{% url 'auth:register' %}">Registrarse</a></span>-->
        </form>
    </div>
</div>
{% endblock %}

<!--<div class="col-12 col-sm-6 mt-5">
        <div class="jumbotron">
            <h1 class="mb-5">CREAR UNA CUENTA</h1>
            <p class="lead">Crear una cuenta es fácil. Ingresa tu dirección de correo electrónico, llena el formulario
                de la página siguiente y disfruta de tus beneficios</p>
            <hr class="">
            <a class="btn btn-primary btn-lg mt-3" href="{% url 'auth:register' %}" role="button">Registrarse</a>
        </div>
    </div>-->